@model IAlbumDto
@{
    ViewData["Title"] = "Index";
}

<h2>Delete</h2>

<form method="delete" asp-action="DeleteAsync" asp-controller="Delete">
    <dl>
        <dt>@Html.LabelFor(m => m.AlbumID)</dt>
        <dd>@Html.DisplayFor(m => m.AlbumID)</dd>
        <dt>@Html.LabelFor(m => m.AlbumName)</dt>
        <dd>@Html.DisplayFor(m => m.AlbumName)</dd>
        <dt>@Html.LabelFor(m => m.Artist)</dt>
        <dd>@Html.DisplayFor(m => m.Artist)</dd>
        <dt>@Html.LabelFor(m => m.Genre)</dt>
        <dd>@Html.DisplayFor(m => m.Genre)</dd>
        <dt>@Html.LabelFor(m => m.ReleaseYear)</dt>
        <dd>@Html.DisplayFor(m => m.ReleaseYear)</dd>
        <dt>@Html.LabelFor(m => m.NumberOfTracks)</dt>
        <dd>@Html.DisplayFor(m => m.NumberOfTracks)</dd>
        <dt>@Html.LabelFor(m => m.Cost)</dt>
        <dd>@Html.DisplayFor(m => m.Cost)</dd>
    </dl>
    <input type="submit" class="btn btn-default" value="Delete" name="btnDelete" />
    <input type="submit" class="btn btn-default" value="DeleteAsync" name="btnDelete" />

</form>
<div>
    <a href="/Home/Index" class="btn btn-default">Back</a>
</div>
